{% extends 'base.html' %}
{% block title %}Resumes{% endblock %}
{% block content %}
<div class="col-sm-12 col-md-6 col-lg-7 col-xl-7">
    <h2>Resumes</h2>
    <div class="table-responsive py-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Resume ID</th>
                    <th>View</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if resumes %}
                    {% for resume in resumes %}
                    <tr>
                        <td>{{ resume.id }}</td>
                        <td><a href="{% url 'view_resume' resume.id %}">Link</a></td>
                        <td>
                            <div class="btn-group">
                                <button data-id="{{ resume.id }}" type="button" class="btn edit_btn" data-bs-toggle="modal" data-bs-target="#edit_resume_modal">Edit</button>
                                <a href="{% url 'delete_resume' resume.id %}" class="btn btn-primary btn_delete_resume">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No resumes found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
